/* wrappers */
header,
footer,
#page,
#main-wrapper,
nav {
  border: 5px solid #2072c9;
  margin: 5px;
}

header::before,
footer::before,
#page::before,
#main-wrapper::before,
nav::before {
  display: block;
  font: small Inconsolata, Consolas, "Courier New", Courier, mono;
  padding: 0 5px 3px 5px;
  margin-top: -3px;
  margin-bottom: 5px;
  content: 'id: 'attr(id)', class: 'attr(class)', role: 'attr(role);
  color: #fff;
  background-color: #2072c9;
}

/* regions */
.region {
  border: 5px solid #f26827;
  margin: 5px;
}
.region::before {
  display: block;
  font: small Inconsolata, Consolas, "Courier New", Courier, mono;
  padding: 0 5px 3px 5px;
  margin-top: -3px;
  margin-bottom: 5px;
  content: 'id: 'attr(id)', class: 'attr(class)', role: 'attr(role);
  color: #fff;
  background-color: #f26827;
}

/* Blocks */
.block {
  border: 5px solid #39cd21;
  margin-bottom: 5px;
}

/* Logo */
a#logo {
  float: left;
  margin-right: 2em;
}
