/* @group normalize.css */
/* Download or git clone normalize.css from http://necolas.github.com/normalize.css/ */
/* Copy here and modify */

/* @end */


/* @group Temporary Layout - remove when you add a grid framework bewlow */
/* Just enough CSS to arrange the page
 * in a traditional "Header, sidebars, content, and footer" layout.
 */
#main-wrapper {
  position: relative;
}
#content {
  float: left;
  width: 100%;
  display: inline;
}
body.sidebar-first #content {
  width: 70%;
  float: left;
  margin-left: 30%;
}
body.sidebar-second #content {
  width: 70%;
  right: 30%;
}
body.two-sidebars #content {
  width: 50%;
  margin-left: 25%;
}
#sidebar-first {
  width: 20%;
  float: left;
  margin-left: -70%;
}
body.two-sidebars #sidebar-first {
  margin-left: -76%;
}
#sidebar-second {
  width: 20%;
  float: right;
}
/* @end */


/* @group lessfreamwork */
/* Configure and download Less CSS framework, http://lessframework.com/ */
/* Copy CSS here */



/* @end */
